<section class="resumepage">
	<div class="search">
	    <h1> Directory </h1>
	    <label>search</label>
	    <input ng-model="query" placeholder="Search for resumes" autofocus>

	    <label class ="formgroup">by:
	        <select ng-model="resumeOrder">
	            <option value="name" selected> Name </option>
	            <option value="title"> Title </option>
	        </select>
	    </label>

	    <label class="formgroup"><input type="radio" ng-model="direction" name="direction" checked> ascending </label>
	    <label class="formgroup"><input type="radio" ng-model="direction" name="direction" value="reverse"> descending </label> 
	    
    </div>

    <ul>
        <li ng-repeat='item in resumes | filter: query | orderBy: resumeOrder:direction'><p><a href="#/details/{{resumes.indexOf(item)}}">{{item.name}}, {{item.title}} </a></p></li>
    </ul>

</section>