---
layout: default
---

<div class="home">
  <h1 id="title" class="page-heading"><span>Cats</span><br> on <br><span>Code</span></h1>

  <h3> The cattiest code blog, sharing experiences and code knowledge around fullstack web design and development.</h3>

  <h2><strong>Latest Posts</strong></h2>

  <ul class="post-list" id="index-list">
    {% for post in site.posts  limit:3 %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url}}">{{ post.title }}</a>
        </h2>
        <h3> {{ post.date | date: "%B %-d, %Y"  }} </h3>
        <h4>{{ post.excerpt | truncatewords: 30}}</h4>
      </li>
    {% endfor %}
  </ul>

  <h2>{% if sites.posts.published == false %} 
    {{post.title}}
  {% endif %} </h2>

  <h2><strong>Popular Topics</strong></h2>
  <ul id="tag-list">
  {% for tag in site.tags %}
    {% assign t = tag | first %}
    {% assign posts = tag | last %}

    <li><h4>{{ t | upcase }}</h4></li>
    <!-- <ul>
    {% for post in posts %}
      {% if post.tags contains t %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
      </li>
      {% endif %}
    {% endfor %}
    </ul> -->
  {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
