<footer>
  <h3 id="menu"><a> Menu </a></h3>
  <ul>
    <div class="mobile-nav">
      <li><h4><a href="/"> Home </a></h4></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><h4><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | truncatewords: 1 | remove:'...' }}</a></h4></li>
          {% endif %}
        {% endfor %}
        {% if site.github_username %}
          <li><h4>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">Github</span>
            </a></h4>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <h4><a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">Twitter</span>
            </a></h4>
          </li>
          {% endif %}
          <li><h4><a href="mailto:{{ site.email }}">Email</a></h4></li>
        <li id="down"><h4><a> Down </a></h4></li>
    </div>
  </ul>

<script type="text/javascript">
  $('#menu').click(function() {
    $('footer ul').css("display", "block");
    console.log("hey");
  });

  $('#down').click(function(){
    $('footer ul').css('display', 'none');
    console.log("Whoah!")
  })
</script>
</footer>